# SPDX-FileCopyrightText: Hamza Mahjoubi <hamzamahjoubi22@proton.me>
# SPDX-License-Identifier: AGPL-3.0-or-later
/*.iml
/.idea
/.php-cs-fixer.cache
/.php_cs.cache
/build/
/js/
/node_modules/
/tests/.phpunit.result.cache
/vendor-bin/**/vendor/
/vendor/
